.layoutHero {
  background-image: url("https://images.squarespace-cdn.com/content/v1/6232446d0d6f240e3f47b4bb/1647865315848-F171MOUHBYKOZVGQYKPN/Untitled-5.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 20vh;
}
