<app-hero
  (personagensFiltradosChange)="personagensFiltrados($event)"
></app-hero>
<div
  class="flex w-full align-items-center justify-content-center"
  *ngIf="isLoading; else loaded"
>
  <app-loading></app-loading>
</div>

<ng-template #loaded>
  <div
    class="flex flex-wrap gap-5 align-items-center justify-content-center p-5"
  >
    <div
      class="flex flex-column align-items-center gap-3 p-5 px-3 shadow-1 border-round-2xl"
      *ngFor="let personagem of personagens.results"
    >
      <span class="font-bold">{{ personagem.name }}</span>
      <img
        src="{{ personagem.image }}"
        alt="{{ personagem.name }}"
        class="border-round"
      />
      <a [routerLink]="['/character', personagem.id]">Mais informações</a>
    </div>

    <div class="flex w-full align-items-center justify-content-center gap-5">
      <p-button
        label="Prev page"
        icon="pi pi-angle-left
"
        (onClick)="getPrevPageCharacters()"
      ></p-button>
      <p-button
        label="Next page"
        icon="pi pi-angle-right
"
        iconPos="right"
        (onClick)="getNextPageCharacters()"
      ></p-button>
    </div>
  </div>
</ng-template>
